src/Vts.MonteCarlo.Wcf.Test/Service References/MonteCarloServiceProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Vts.MonteCarlo" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ExecuteBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vts.MonteCarlo" minOccurs="0" name="input" nillable="true" type="q1:ArrayOfSimulationInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExecuteBatchResult" nillable="true" type="q2:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>